<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Library</title>
    <link href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.4/datatables.min.css" rel="stylesheet"/>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"-->
    <!--          rel="stylesheet">-->
</head>
<body>
<header th:insert="~{components/navbar}"></header>

<div class="container">
    <h2>Library</h2>
    <hr/>
    <br/>

    <table class="table table-bordered table-striped" id="booksTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${bookList}">
            <td th:text="${book.name}"/>
            <td>
                <p th:if="${book.authors.isEmpty()}" th:text="Anonymous"></p>
                <ul th:each="author, index : ${book.getAuthors()}">
                    <li th:text="(${author.firstname} + ' ' + ${author.lastname})"></li>
                </ul>
            </td>
            <td>


                <a class="btn btn-success ml-3" th:href="@{/library/{id}(id=${book.id})}">Details</a>
                <a class="btn btn-danger ml-3" sec:authorize="hasAuthority('ADMIN')"
                   th:href="@{/library/delete/{id}(id=${book.id})}">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>
</div>
<script>
    $(document).ready(function () {
        $("#booksTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>

</body>
</html>
