<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Error Page</title>
    <style>
        /* CSS styles for error message layout */
        body {
            font-family: Arial, sans-serif;
        }

        .error-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 20px;
            border: 1px solid #ccc;
            max-width: 500px;
            margin: 0 auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="error-container">
    <h1>Error</h1>
    <table>
        <tr>
            <td>Date:</td>
            <td th:text="${timestamp}"></td>
        </tr>
        <tr>
            <td>Path:</td>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <td>Error:</td>
            <td th:text="${error}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>Message:</td>
            <td th:text="${message}"></td>
        </tr>
    </table>
</div>
</body>
</html>