<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div>
    <h2>List Employees</h2>
    <hr/>
    <table border="10">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Department
            </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.department}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>